@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i0HTQ.ttf) format('truetype');
}
/* Color Theme Swatches in Hex */
/* fontes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #C0D904;
  font-family: 'Dancing Script', cursive;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover !important;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.65) 100%), url(../images/banner/banner1.jpg) no-repeat center center scroll;
}
.hero h1 {
  font-style: normal;
  font-weight: bold;
  color: #C0D904;
  font-size: 20vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}
.hero h2 {
  font-style: normal;
  font-weight: bold;
  color: #401F18;
  font-size: 10vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 13px;
}
.hero button {
  background: #7B92A6;
  transition: background ease 0.25s;
  border-radius: 9px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #F5F5F5;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover {
  background: #C0D904;
  color: #401F18;
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
