
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Rancho&display=swap');
/* Color Theme Swatches in Hex */
@coffee-1: #7B92A6;
@coffee-2: #C0D904;
@coffee-3: #A68263;
@coffee-4: #8C4318;
@coffee-5: #401F18;
@coffee-6: #f5f5f5;


/* fontes */
@font-family-1: 'Dancing Script', cursive;
@fonteprincipal: 'Rancho', cursive;
@fontesecundaria: 'Delius', cursive; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
 
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  
}


h2{
    font-size: 2em;
    font-weight: bold;
    color: @coffee-6;
    font-family: @fontesecundaria;
}

/* NAVBAR*/
.header{
  border-bottom: 0px solid #E2E8F0; 
 z-index: 8000;
}
header a{
  text-decoration: none;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: @coffee-5; 
  }

.hamburger {
  display: none;
  
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: @coffee-6; 
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5884846546;
  
    
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: @coffee-6;
  margin: 10px;
  
}

.nav-link:hover{
  color: @coffee-6;
}
.nav-link:active {
  color: @coffee-2;
}
.nav-link:visited {
  color: @coffee-5;
}
.bi{ /* icone do menu */
  font-size: 100px;
  font-weight: 400;
  color: @coffee-6;
  margin: 10px;; 
}

.nav-logo {    
  font-size: 2.1rem;
  font-weight: 500;
  color: @coffee-6;
  font-family: @fonteprincipal; 
}
.nav-logo:hover{
  color: @coffee-6;
}
.nav-logo img{
  width: 65px;
  margin: 5px;
  
}
@media only screen and (max-width: 768px) {
  .nav-menu {
      position:fixed;
           
      justify-content: flex-start;
      align-items: flex-start;
      left: 100%;
      top: 4rem;
      flex-direction: column;
      background-color: @coffee-5;
      width: 100%;               
      color: @coffee-6;
      height: 100vh;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
      
      
  }
  .nav-item {
      margin: 2.5rem 0;
  }
  .nav-item {
      margin-left: 2rem;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
  .header{
      position: fixed; 
       top: 0; 
       width: 100%;
  }
  
}
/* NAVBAR*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 41%, rgba(0,0,0,0.65) 100%),
     url(../images/banner/wooden-table-with-a-cup-of-coffee.jpg ) no-repeat center center scroll;
  }
  
 .hero h1 {
    font-style: normal;
    // font-weight: bold;
    color: @coffee-2;
    font-size: 25vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.89);
    margin-bottom: 50px;
    font-family: @fonteprincipal; 
  }
  .hero h2{
    font-style: normal;
    font-weight: bold;
    color: @coffee-6;
    font-size: 6vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 18px;
  }

  .hero button {
    font-family: @fontesecundaria;
    font-weight: bold;
    color: #401F18;
    width: 200px;
    height: 60px;
    background: @coffee-2;
    transition: background ease .25s;
    border-radius: 9px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 15px;
    text-decoration: none;
    color: @coffee-5;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  button:hover {
    background: @coffee-1;
    color: @coffee-5;
  }
  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  .hero-icons{
  position: absolute;
  top: 90%;
  left: 1%;
   
    
  }
  // .menu-coffee{
  //   background-color: @coffee-6;
  //   font-size: 15px;
  // }
  // .col-lg-6{
  //   font-family: @fontesecundaria;
  // }
  // .col{
  //   font-family: @fontesecundaria;
    
  // }
.produtos{
  font-family: @fontesecundaria;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 100vh;
  padding: 34px;
 
  // background-size: cover;
  //   background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,
  //    rgba(0,0,0,0) 41%, rgba(0,0,0,0.65) 100%),
  //     url(../images/banner/marmore.jpg) no-repeat center center scroll;
}
.produto{
  align-items: center; 
  flex-direction: column;
  margin: 20px;
  background-color: @coffee-6;
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  h3{
    font-family: @fonteprincipal;
    font-size: 20px;
    color: @coffee-5;    
    margin-bottom: 10px;
  }
 

}
.produtos img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border: @coffee-1 solid 2px;
  // border-radius: 10px;
} 


.produtos button{
  background-color: @coffee-2;
  padding: 5px;
  width: 100px;
  height: 80px;
  height: max-content;
  border-radius: 10px;
  color: @coffee-5;

}
.info{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  //height: 355px;
  padding: 10px;
  background-color: @coffee-3;
 
  p{
    font-size: 15px;
    color: @coffee-5;
    margin-bottom: 10px;
  }
}
.info-item{
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  
  margin-bottom: 10px;
}
.info-tittle{  
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  font-family: @fonteprincipal;
  color: @coffee-5;
  
}
.item img{
  width: 300px;
  height: 100%;
  object-fit: cover;
  margin: 10px;  

}
.about{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  //height: 355px;
  padding: 10px;
  background-color: @coffee-3;
 
  p{
    font-size: 15px;
    color: @coffee-5;
    margin-bottom: 10px;
    font-family: @fontesecundaria;
  }
}

  /*footer*/
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100px;    
    color: @coffee-6;   
    font-size: 20px; 
    overflow: hidden;
    background-size: cover !important;
    background: url(../images/banner/grãos.png) no-repeat center center scroll;
   
    
  }
  .footer a{
   background-color: #1b1717b6;
   text-decoration: none;
   color: @coffee-2;
   border-radius: 10px;
  }
  .footer a:hover{
    color: @coffee-2;
  }
  /*footer*/