
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Color Theme Swatches in Hex */
@coffee-1: #7B92A6;
@coffee-2: #C0D904;
@coffee-3: #A68263;
@coffee-4: #8C4318;
@coffee-5: #401F18;
@coffee-6: #F5F5F5;

/* fontes */
@fonteprincipal: 'Dancing Script', cursive;
@fontesecundaria:verdana;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: @coffee-5; /* aqui*/
}

h1{
    font-size: 2em;
    font-weight: bold;
    color: @coffee-2;
    font-family: @fonteprincipal;
}

